pkgbase = varve-desktop-bin
	pkgdesc = Local-first design suite for vector, layout, typography, motion and print
	pkgver = 0.2.1
	pkgrel = 1
	url = https://github.com/K-Arthur/varve
	arch = x86_64
	license = LicenseRef-FSL-1.1-MIT
	depends = webkit2gtk-4.1
	depends = gtk3
	depends = glib2
	depends = libsoup3
	depends = librsvg
	depends = openssl
	depends = gdk-pixbuf2
	depends = cairo
	depends = pango
	depends = fontconfig
	optdepends = cups: printing support
	optdepends = xdg-desktop-portal: native file dialogs under Wayland
	provides = varve-desktop
	conflicts = varve-desktop
	conflicts = varve-desktop-git
	noextract = Varve-0.2.1-linux-x86_64.AppImage
	options = !strip
	options = !debug
	source = Varve-0.2.1-linux-x86_64.AppImage::https://github.com/K-Arthur/varve/releases/download/v0.2.1/Varve-0.2.1-linux-x86_64.AppImage
	sha256sums = 67f29114a33dd3d588c6750b03d16c814e3be6981cf04237e80dfc04d32367e5

pkgname = varve-desktop-bin
